/* src/app/favorites/favorites.component.scss */
.favorites-container {
    text-align: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    padding: 8px;
    background-color: #f0f0f0;
    margin-bottom: 5px;
  }
  